.hero {
	@include clearfix;
}
.hero__slider {
	background: 
	linear-gradient(
      rgba(34, 37, 49, 0.5), 
      rgba(34, 37, 49, 0.5)
    ),

	url($content + 'hero.png') no-repeat;
	@include cover-background;
	background-position:center;
	height:195px;
}


.hero__col {
	position: relative;
	float:left;
	height:195px;
	width:50%;
	text-align: center;
		display: flex;

	h3, h4 {
		font-size: 22px;
		text-align: center;
		color:$white;
		margin-right: auto;
		margin-left: auto;
	}

	h3 {
		width: 60%;
		padding-bottom:20px;
	}

	h4 {
		width: 70%;
		font-size:18px;
	}
}

.hero__col__content {
	margin:auto;
}

.hero__col--left {
	background:$pink;
}

.hero__col--right {
	background:$darkBlue;
}

.section-jobs {
	background:$lightGrey;
	height:270px;
	h3 {
		display: inline-block;
		vertical-align: middle;
	}
}

.section-jobs__content {
	width:80%;
	margin:0 auto;padding-top: 20px;


	a {
		color:#383F4E;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle
	}

	.slider-wrap {
		position: relative;
		margin: 24px auto;
		width: 100%;
	}
	.slider {
	position: relative;
	width: 100%;
	margin: auto;
	}
	ul {
	
	margin: 0;
	padding: 0;
	}
	ul li {
	
	height: 170px;
	display: block;
	width: 120px;
	list-style: none;
	text-align: left;
	padding-right: 20px;


		.img-job {

			img {
				height: 90px;
				width: 100%;
			}
		}

		.price{
			position: relative;
			width: 100%;
			height: 30px;
			background-color: $pink;
			p {
				position: relative;
				color: $white;
				margin: 0;
				padding: 0;
				font-size: 20px;
				font-weight: 100;
				text-align: center;
				padding-top: 5px;
			}
		}

		.txt{
		
			position: relative;
			width: 100%;
			height: auto;
			p {
				color:$darkBlue;
				font-size: 13px;
				text-align: center;
			}
			
		}
	}


	.sa-left {
	left: 0px;
	display: none;	
	}
	.sa-right {
	right: 0px;
	display: none;
	}



}

.section-jobs__content-right {
	display: inline-block;
	float:right;

	img {
		display: inline-block;
		vertical-align:middle;
	}
}

.section-categories {
	background:$lightBlue;
	text-align: center;
	height:575px;
	h2 {
		margin-top: 43px;
		display: inline-block;
		vertical-align: middle;
		color:$white;
	}
	p {
		margin-top: 43px;
		color:$white;
		padding:0 5%;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	p.second{
		margin-top: 0px;
	}

	.section-icon {
		margin-top: 43px;
	}

	select {
		margin-top:-20px;
		-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
	    color:#383F4E;
	    width:270px;
	    padding: 20px 10px;
	    border-radius:40px;
	    background: url($ui + 'arrow-down.png') no-repeat 90% 55% $white;
	}

.hex {
	outline: 3px solid red;
	width: 100%;
	max-width: 405px;
	overflow: hidden;
	height: 235px;
	position: relative;
	margin-right: auto;
	margin-left: auto;

	.hex2 {
		outline: 2px solid red;
	text-align: center;
	position: relative;
	float: left;
	min-width: 275px;
	margin-left: -45px;
	margin-top: -20px;
	overflow: hidden;
	width: 110%;

	}

	.hex1 {
		text-align: center;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
}

	.hexagon {
		margin-right: 4px!important;

		float: left;
		position: relative;
  width: 90px; 
  height: 51.96px;
  background-color: #FFF;
  margin: 25.98px 0;
  border-left: solid 1px #222531;
  border-right: solid 1px #222531;
}

.hexagon:before,
.hexagon:after {

  content: "";
  position: absolute;
  z-index: 1;
  width: 63.64px;
  height: 63.64px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 12.1802px;
}

.hexagon:before {
  top: -31.8198px;
  border-top: solid 1.4142px #222531;
  border-right: solid 1.4142px #222531;
}

.hexagon:after {
  bottom: -31.8198px;
  border-bottom: solid 1.4142px #222531;
  border-left: solid 1.4142px #222531;
}

}

.section-steps {
	background:$brightBlue;
	height:400px;
	position: relative;

	img, p {
		display: inline-block;
		vertical-align: middle;
	}

	h2 {
		
		padding-top: 0px;
		margin-bottom: 30px;
	}
	p {
		color:$white;
		max-width:230px;
		text-align: left;
		padding-left:5%;
		
	}

	img {
		max-width:50px;
		width:100%;
	
		margin-right: 20px;
	}

	div {
		
		&:last-child {
			padding-bottom:0;
		}
	}
}


ul {
	margin-left: -20px;
}
.section-steps__content {
	width:80%;
	margin:auto;
	@include vertical-align;
	text-align: center;
}

.section-steps__element {
	width:100%;
	
}


.section-instructions {
	height:630px;


.mb-wrapper {
	max-width: 375px;
	height: 470px;
	position: relative;
	width: 100%;
	margin-bottom:0px;
	margin-right: auto;
	margin-left: auto;
}


li {
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
  	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 4px 4px 4px 4px;
}

li.middle {
	margin-right: 20px!important;
	margin-left: 20px!important;
}


/* Panel images */
.bg-wrap-active{ 
	width:100%!important;
	height: 300px!important;
	margin: 0;
	padding: 0;
	background-color: $pink;

}

/* Panel images */
.bg-wrap{ 
	width:100%!important;
	height: 300px!important;
	margin: 0;
	padding: 0;
	background-color: $darkBlue;
}

.instructions {
	height: 135px;
	background-color: $white;
	text-align: center;
	overflow: hidden;
}

.instructions-scale {
	height: 80px;
	background-color: $white;
}

.mb-slider_2 .mb-panel.current {
	cursor: auto;
	height: 435px!important;
	width: 280px;

	.instructions-scale {
		height: 135px!important;
	}

		li.first, li.last {
		margin-top: 0px!important;
	}

}

h2 {
	font-size: 21px;
	margin-top: 20px;
}

p{
	font-size: 14px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}





/* Panel Wrapper */
.mb-slider_2, .mb-scroll {
	width: 100%;
	height: 500px!important;
	overflow: hidden;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;
}


/* active slider border highlight */
.mb-active-slider_2 {
	border:none;
	height: 440px!important;
}

/*** Slider panel ***/
.mb-slider_2 .mb-panel {
	margin: 0;
	padding: 0px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	float: left;
	width: 280px;
	list-style: none;	
}

/* Cursor to arrow over current panel, pointer for all others,
change .current class name using plugin option, currentPanel : 'current' */


/*** Inside the panel ***/
.mb-inside {
	padding: 0px;
	width: 280px;

}

.mb-inside * {
	max-width: 100%;
}

/*** Controls added below the panels ***/
.mb-controls {
	margin-top: -20px!important;
	margin: 0 0;
	text-align: center;
	position: relative;
	z-index: 100;
}
.mb-controls a {

	color: rgba(29, 29, 38, 0.5);
	font: 18px/2.2 Georgia, Serif;
	display: inline-block;
	text-decoration: none;
	padding: 2px;
	margin: 0 5px 0 0;
	text-align: center;
	outline: 0;
}
.mb-controls a.current {
	color: $purple;
}

}

.section-partners {
	height:320px;
	text-align:center;
	position: relative;

	h3 {
		padding-top: 30px;
		font-size: 22px;
	}

	p {
		width: 35%;
		margin-left: auto;
		margin-right: auto;
		font-size: 17px;
		margin-bottom: 40px;
	}

	.group {
		
		width: 90%;
		margin-right: auto;
		margin-left: auto;


		img {
			margin-bottom: 3%;
			vertical-align: middle;
			margin-left: 5%;
			margin-right: 5%;
			width: 30%;

		}
	}

}

.section-partners::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 235, 238, .77);
}

.section-title {

	font-size:24px;
	text-align:center;
	margin:auto;
	text-align: center;
	padding-top:45px;
}
.section-title--white {
	color:$white;
}

.section-icon {

	display: inline-block;
	vertical-align:middle;
	padding-right:10px;
	
}