.hero {
	@include clearfix;
}
.hero__slider {
	background: 
	linear-gradient(
      rgba(34, 37, 49, 0.5), 
      rgba(34, 37, 49, 0.5)
    ),

	url($content + 'hero.png') no-repeat;
	@include cover-background;
	background-position:center;
	height:195px;
}


.hero__col {
	position: relative;
	float:left;
	height:195px;
	width:50%;
	text-align: center;
		display: flex;

	h3, h4 {
		font-size: 22px;
		text-align: center;
		color:$white;
		margin-right: auto;
		margin-left: auto;
	}

	h3 {
		width: 60%;
		padding-bottom:20px;
	}

	h4 {
		width: 70%;
		font-size:18px;
	}
}

.hero__col__content {
	margin:auto;
}

.hero__col--left {
	background:$pink;
}

.hero__col--right {
	background:$darkBlue;
}

.section-jobs {
	background:$lightGrey;
	height:270px;
	h3 {
		display: inline-block;
		vertical-align: middle;
	}
}

.section-jobs__content {
	width:80%;
	margin:0 auto;padding-top: 20px;


	a {
		color:#383F4E;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle
	}

	.slider-wrap {
		position: relative;
		margin: 24px auto;
		width: 100%;
	}
	.slider {
	position: relative;
	width: 100%;
	margin: auto;
	}
	ul {
	
	margin: 0;
	padding: 0;
	}
	ul li {
	
	height: 170px;
	display: block;
	width: 120px;
	list-style: none;
	text-align: left;
	padding-right: 20px;


		.img-job {

			img {
				height: 90px;
				width: 100%;
			}
		}

		.price{
			position: relative;
			width: 100%;
			height: 30px;
			background-color: $pink;
			p {
				position: relative;
				color: $white;
				margin: 0;
				padding: 0;
				font-size: 20px;
				font-weight: 100;
				text-align: center;
				padding-top: 5px;
			}
		}

		.txt{
		
			position: relative;
			width: 100%;
			height: auto;
			p {
				color:$darkBlue;
				font-size: 13px;
				text-align: center;
			}
			
		}
	}


	.sa-left {
	left: 0px;
	display: none;	
	}
	.sa-right {
	right: 0px;
	display: none;
	}



}

.section-jobs__content-right {
	display: inline-block;
	float:right;

	img {
		display: inline-block;
		vertical-align:middle;
	}
}

.section-categories {
	background:$lightBlue;
	text-align: center;
	height:575px;
	h2 {
		margin-top: 43px;
		display: inline-block;
		vertical-align: middle;
		color:$white;
	}
	p {
		margin-top: 43px;
		color:$white;
		padding:0 5%;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	p.second{
		margin-top: 0px;
	}

	.section-icon {
		margin-top: 43px;
	}

	select {
		margin-top:-20px;
		-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
	    color:#383F4E;
	    width:270px;
	    padding: 20px 10px;
	    border-radius:40px;
	    background: url($ui + 'arrow-down.png') no-repeat 90% 55% $white;
	}

}

.section-steps {
	background:$brightBlue;
	height:400px;
	position: relative;

	img, p {
		display: inline-block;
		vertical-align: middle;
	}

	h2 {
		
		padding-top: 0px;
		margin-bottom: 30px;
	}
	p {
		color:$white;
		max-width:230px;
		text-align: left;
		padding-left:5%;
		
	}

	img {
		max-width:50px;
		width:100%;
	
		margin-right: 20px;
	}

	div {
		
		&:last-child {
			padding-bottom:0;
		}
	}
}

.section-steps__content {
	width:80%;
	margin:auto;
	@include vertical-align;
	text-align: center;
}

.section-steps__element {
	width:100%;
	
}

.section-instructions {
	height:630px;

	/*** Overall MovingBoxes Slider ***/
.mb-wrapper {
	border: 5px solid #ccc;
	margin: 0 auto 20px;
	position: relative;
	left: 0;
	top: 0;
	border-radius: 10px;
	box-shadow: inset 0 0 10px #888;
}

	/* Dimensions set via css in MovingBoxes version 2.2.2+ */
		#slider { width: 375px; }
		#slider li { width: 250px; }


/* Moving Boxes title image wrapper */
#title { 
  text-align: center; 
}
#title img { 
  border: 0; 
}

/* Panel images */
.mb-inside img { width: 100%; }

/* height of the placeholder until image completely loads - needed for
   webkit browsers, add this only if you don't want the height animation
   on startup. 326px measures the height of the current image when enlarged 
*/
#slider-two .current img { /* height: 326px; */ }

/* Panel links */
.mb-inside a { color: #333; text-decoration: none; border-bottom: 1px dotted #ccc; }
.mb-inside a:hover { border-bottom: 1px solid #999; }

/* Add/remove panels buttons */
.buttons { padding: 5px 10px; text-align: center; }

/* Direct link styling */
.dlinks { 
  text-align: center;
  margin: 0 0 20px 0;
}
.dlinks * {
  vertical-align: middle;
}

/* Panel Wrapper */
.mb-slider, .mb-scroll {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;

	/***(>'-')> Control Panel Font size here <('-'<)***/
	font-size: 18px;
}

/* active slider border highlight */
.mb-active-slider {
	border-color: #333;
}

/*** Slider panel ***/
.mb-slider .mb-panel {
	margin: 0;
	padding: 20px;
	display: block;
	cursor: pointer;
	float: left;
	list-style: none;
}

/* Cursor to arrow over current panel, pointer for all others,
change .current class name using plugin option, currentPanel : 'current' */
.mb-slider .mb-panel.current {
	cursor: auto;
}

/*** Inside the panel ***/
.mb-inside {
	padding: 10px;
	border: 1px solid #999;
}

.mb-inside * {
	max-width: 100%;
}



/*** Controls added below the panels ***/
.mb-controls {
	margin: 0 auto;
	text-align: center;
	background: #ccc;
	position: relative;
	z-index: 100;
}
.mb-controls a {
	color: #666;
	font: 18px/2.2 Georgia, Serif;
	display: inline-block;
	text-decoration: none;
	padding: 2px;
	margin: 0 5px 0 0;
	text-align: center;
	outline: 0;
}
.mb-controls a:hover {
	color: black;
}
.mb-controls a.current {
	color: white;
}
.mb-active-slider .mb-controls {
	background: #333;
}

	
}

.section-partners {
	height:320px;
	text-align:center;
	position: relative;

	h3 {
		padding-top: 30px;
		font-size: 22px;
	}

	p {
		width: 35%;
		margin-left: auto;
		margin-right: auto;
		font-size: 17px;
		margin-bottom: 40px;
	}

	.group {
		
		width: 90%;
		margin-right: auto;
		margin-left: auto;


		img {
			margin-bottom: 3%;
			vertical-align: middle;
			margin-left: 5%;
			margin-right: 5%;
			width: 30%;

		}
	}

}

.section-partners::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 235, 238, .77);
}

.section-title {

	font-size:24px;
	text-align:center;
	margin:auto;
	text-align: center;
	padding-top:45px;
}
.section-title--white {
	color:$white;
}

.section-icon {

	display: inline-block;
	vertical-align:middle;
	padding-right:10px;
	
}