// Images

//Background
$bg: '../images/bg/';

//Contenrt
$content: '../images/content/';

// User interface 
$ui: '../images/ui/';


// Colors
$white: #FFFFFF;
$darkBlue: #222531;
$lightBlue: #383F4E;
$brightBlue: #0069D2;
$lightGrey:#E8EBEE;
$pink: #E5007D;